@import url('flex.css');

* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    -webkit-user-select:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-text-size-adjust:none;
}
 
a {
	cursor: default;
}

body {
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 20px;
	line-height: 1.28;
}

#wrapper {
	position: fixed;
	top: 0;
	right:0;
	bottom: 0;
	left: 0;
}

#topLeft {
	padding-top: 30px;
	padding-left: 30px;
	z-index: 1;
	position: relative;
	cursor: default;
}

#topLeft p.title {
	color: #b7b7b7;
	margin-top: -1px;
}

#social li {
	display: inline-block;
	padding-top: 12px;
	opacity: 0.12;
	-webkit-transition: opacity 0.25s ease-out;
	-moz-transition: opacity 0.25s ease-out;
}

#social li:hover {
	opacity: 1;
}

.email {
	padding-left: 5px;
}

#slides li {
	display: inline-block;
  	background-size: contain;
  	position: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
	top: 20px; right: 0; bottom: 50px; left: 0;
	/*width: 400px;*/
}

#slides li.paper {
	background-image: url(slide-paper.jpg);
}

#slides li.origami {
	background-image: url(slide-origami.jpg);
}

#slides li.origami p.iphone {
	display: none;
}

#slides li.chatHeads {
	background-image: url(slide-chatheads.jpg);
}

#slides li.logo {
	background-image: url(slide-logo.png);
}

#slides li.logo p.iphone {
	display: none;
}

#slides li.swipe {
	background-image: url(slide-swipe.jpg);
}

#slides li.drawer {
	background-image: url(slide-drawer.jpg);
}

#slides li.capo {
	background-image: url(slide-capo.jpg);
}

#slides li.billings {
	background-image: url(slide-billings.jpg);
}

#slides p {
	font-size: 11px;
}

.caption {
	color: #b7b7b7;
	font-family: 'HelveticaNeue-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	position: absolute; 
	bottom: 0;
	pointer-events: none;
	padding-left: 13px;
	visibility: hidden; /*Made visible in JS once layout has been calculated*/
}

.year {
	color: black;
}

.fade {
	position: fixed;
	bottom: 0px;
	height: 58px;
	width: 150px;
	pointer-events:none;
}

#rightFade {
	right: 0; 
	background-image: -moz-linear-gradient( 180deg, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0) 100%);
	background-image: -webkit-linear-gradient( 180deg, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0) 100%);
	background-image: -ms-linear-gradient( 180deg, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0) 100%);
}

#leftFade {
	left: 0;
	background-image: -moz-linear-gradient( 0deg, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0) 100%);
	background-image: -webkit-linear-gradient( 0deg, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0) 100%);
	background-image: -ms-linear-gradient( 0deg, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0) 100%);
}

#nav {
	text-align: center;
	position: absolute;
	bottom: 32px;
	left: 50%;
	white-space: nowrap;
}

#nav li {
	display: inline-block;
	padding: 0 20px;
	cursor: default;
}

/*iPhone*/
@media only screen and (max-device-width: 628px) {
	body {
		font-size: 19px;
	}
	
	#nav {
		bottom: 20px;
	}
	
	#nav li {
		padding: 0 15px;
	}
	
	.fade {
		width: 40px;
	}
	
	#social li:hover {
		opacity: 0.12;
	}
	
	#topLeft {
		padding-top: 16px;
		padding-left: 18px;
	}
	
	#slides li {
		top: 60px; right: 0; bottom: 40px; left: 0;
	}
	
	#social {
		position: absolute;
		top: 6px; right: 18px;
	}
	
	#slides p {
		font-size: 7px;
	}
	
	.caption {
		padding-left: 8px;
	}
	
	#slides li.origami p.other {
		display: none;
	}
	
	#slides li.origami p.iphone {
		display: block;
	} 
	
	#slides li.logo p.other {
		display: none;
	}
	
	#slides li.logo p.iphone {
		display: block;
	}
	
	#slides li.capo {
		background-image: url(slide-capo-iphone.jpg);
	}
	
	#slides li.billings {
		background-image: url(slide-billings-iphone.jpg);
	}
	
	#slides li.logo {
		background-image: url(slide-logo-iphone.png);
	}
	
	#slides li.origami {
		background-image: url(slide-origami-iphone.jpg);
	}
}

/*Landscape iPhone*/
@media only screen and (max-device-width: 628px) and (orientation : landscape) { 
	.fade {
		width: 70px;
	}
}

/*iPhone and iPad*/
@media (max-device-width : 1024px) {
	.email {
		padding-left: 12px;
	}
	
	body {
		overflow: hidden;
	}
}

/*iPad*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) { 
	body {
		font-size: 24px;
	}
}

/*Portrait iPad*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { 
	#slides li {
		top: 80px; right: 0; bottom: 60px; left: 0;
	}
}

/*Hi-res Displays*/
@media (-webkit-min-device-pixel-ratio: 1.2), (min-resolution: 144dpi) {
	#twitter {
		content: url("social-twitter-2x.png");
	}
	
    #email {
    	content: url("social-email-2x.png");
    }
}

.cf:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

html[xmlns] .cf {
	display: block;
}

* html .cf {
	height: 1%;
}