<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="libs/bootstrap/3.3.0/bootstrap.min.css"/>
    <link rel="stylesheet" href="libs/ionicons/1.5.2/ionicons.min.css"/>
    <link rel="stylesheet" href="styles/app.css"/>
</head>
<body ng-app="app">
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <!--<ul class="nav navbar-nav navbar-left">-->
    <!--<li><a href="#">Claver</a></li>-->
    <!--</ul>-->
    <ul class="nav navbar-nav navbar-center">
        <li><a href="#">Claver</a></li>
    </ul>
    <!--<ul class="nav navbar-nav navbar-right">-->

    <!--</ul>-->
</nav>
<aside class="side-menu">
    <ul>
        <li><span class="ion-ios7-search-strong"></span></li>
        <li><span class="ion-ios7-browsers"></span></li>
        <li><span class="ion-ios7-person"></span></li>
        <li><span class="ion-ios7-gear"></span></li>
    </ul>
</aside>
<div class="wrapper" ng-controller="appController">
    <div class="content">
        <div class="container">
            <div class="search-bar text-center">
                <input id="query" type="text" ng-model="query" placeholder="Search"/>
            </div>
            <div ng-if="searchResult.length == 0">
                <div class="text-center">
                    <div class="ion-ios7-search-strong" style="font-size: 60px; font-weight: 600;"></div>
                    <div style="font-weight: 600; font-size: 20px;">Find your favorite quotes</div>
                    <div style="font-size: 16px;">Search from movie, songs, ads.</div>
                </div>
            </div>
            <ul class="result">
                <li ng-repeat="item in searchResult" ng-click="didShowModalClick(0  , $index)">
                    <div class="clip">
                        <img ng-src="{{item.imageUrl}}" class="tn"/>

                        <div class="quote">
                            <span ng-bind="item.quote"></span>
                        </div>
                    </div>
                </li>
            </ul>
            <div>
                <h1>Popular</h1>
                <ul class="result">
                    <li ng-repeat="item in popularQuotes" ng-click="didShowModalClick(1, $index)">
                        <div class="clip">
                            <img ng-src="{{item.imageUrl}}" class="tn"/>

                            <div class="quote">
                                <span ng-bind="item.quote"></span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="md-modal md-effect-1" ng-class="{ 'md-show' : showModal }">
                <div class="md-content">
                    <div class="modal-close">
                        <button class="btn btn-info btn-sm" ng-click="didCloseModalClick()"><span
                                class="ion-ios7-close-empty" style="font-size: 36px;"></span></button>
                    </div>
                    <div class="player-wrapper">
                        <video height="100%" width="100%" autoplay ng-if="playClip">
                            <source ng-src="{{activeItem.videoUrl}}"/>
                        </video>
                        <div class="banner disappear" ng-show="!playClip">
                            <div class="clip" ng-click="didPlayClipClick()">
                                <img ng-src="{{activeItem.imageUrl}}" class="tn main-in-browser "/>
                            </div>
                        </div>
                    </div>
                    <div class="info-wrapper">
                        <div class="clip-details card">
                            <div class="quote">{{activeItem.quote}}</div>
                            <hr>
                            <div class="actions">
                                <div class="pull-left">
                                    <span class="action ion-ios7-heart"></span>
                                </div>
                                <div class="pull-right">
                                    <span class="action ion-social-facebook"></span>
                                    <span class="action ion-social-twitter"></span>
                                    <span class="action ion-social-googleplus"></span>
                                </div>
                            </div>
                        </div>
                        <div class="browse card">
                            <div class="caption">Suggestions</div>
                            <hr>
                            <ul>
                                <li>
                                    <div class="clip">
                                        <img ng-src="{{activeItem.imageUrl}}" class="tn"/>
                                    </div>
                                </li>
                                <li>
                                    <div class="clip">
                                        <img ng-src="{{activeItem.imageUrl}}" class="tn"/>
                                    </div>
                                </li>
                                <li>
                                    <div class="clip">
                                        <img ng-src="{{activeItem.imageUrl}}" class="tn"/>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="md-overlay"></div>
        </div>
    </div>
</div>
<!-- scripts -->
<script src="libs/jquery/2.1.1/jquery.min.js"></script>
<script src="libs/lazy/0.3.2/lazy.js"></script>
<script src="libs/reboundjs/20141105/rebound.js"></script>
<script src="libs/angular/1.3.1/angular.min.js"></script>
<script src="libs/angular/1.3.1/angular-animate.min.js"></script>
<script src="scripts/app.js"></script>
</body>
</html>