@import "fonts.less";

body, html {
  height: 100%;
  margin: 0;
  padding: 25px 0;
  background-color: #f6f5f6;
  font-family: 'Segoe UI', 'Open Sans', 'Verdana';
}

.navbar-default {
  background-color: #ffffff;
}

.navbar-right {
  margin-right: 0;
}

.navbar-center {
  float: none;
  margin: 0 auto;
  display: table;
}

// Side menu

.side-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 80px;
  background-color: #222222;
  z-index: 1200;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 60px;

    li {
      width: 80px;
      height: 80px;
      padding: 10px;
      color: #ffffff;
      cursor: pointer;

      span {
        font-size: 30px;
        padding: 20px;
      }
    }
  }
}

// Content

.wrapper {

}

.content {
  padding: 10px;
}

.search-bar {
  #query {
    width: 70%;
    padding: 10px;
    border: 1px solid #ddd;
    color: rgb(70, 70, 70);
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
  }
  margin: 10px 0 20px 0;
}

ul.result {
  list-style: none;
  float: left;
  padding-left: 0;

  li {
    float: left;
    width: 50%;
    padding: 5px;
    cursor: pointer;
  }
}

.browse {
  margin: 10px 5px 5px 5px;

  ul {
    list-style: none;
    padding-left: 0;
    white-space: nowrap;
    overflow: hidden;

    li {
      width: 50%;
      padding: 5px;
      display: inline-block;
      transform: translate3d(-50%, 0, 0) scale(0.85);
      cursor: pointer;
    }
  }
}

.clip {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  .tn {
    width: 100%;
    &:hover {
      animation: tnmoves 30s ease infinite;
      -webkit-animation: tnmoves 30s ease infinite;
    }
    &.main-in-browser {
      max-height: 450px;
    }
  }

  .quote {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);

    span {
      position: absolute;
      background-color: rgba(0, 0, 0, 0.5);
      bottom: 0;
      left: 0;
      right: 0;
      padding: 5px 0;
      font-weight: 600;
    }
  }
}

.player-wrapper {
  width: 800px;
  height: 336px;
  position: relative;

  video {
    position: relative;
    top: -1px;
  }

  .banner {
    position: absolute;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    //    padding: 5px;
  }
}

.info-wrapper {
  background-color: #f2f2f2;
  padding: 5px;
}

.card {
  background-color: #ffffff;
  color: #333;
  //  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.12);
}

hr {
  border-bottom: 0;
  border-color: #e3e3e3;
  margin: 1px 10px 2px 10px;
}

.caption {
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 400;
}

.clip-details {
  margin: 5px;

  .quote {
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 400;
  }

  .actions {
    height: 40px;
    color: #ccd6dd;
    .action {
      font-size: 24px;
      padding: 10px;

      &.ion-ios7-heart:hover {
        color: #CB2027;
      }

      &.ion-social-facebook:hover {
        color: #2A5CC4;
      }

      &.ion-social-twitter:hover {
        color: #00A8E8;
      }

      &.ion-social-googleplus:hover {
        color: #DE4B3B;
      }
    }
  }
}

.disappear {
  transition: 0.3s easi;
  &.ng-leave {
    opacity: 1;

    &.ng-leave-active {
      opacity: 0;
    }
  }
}

// Image Animation
@-webkit-keyframes tnmoves {
  0% {
    transform: translate3d(0, 0, 0) scale(1);
  }
  25% {
    transform: translate3d(-20px, -20px, 0) scale(1.25);
  }
  50% {
    transform: translate3d(+20px, -20px, 0) scale(1.5);
  }
  0% {
    transform: translate3d(0, 0, 0) scale(1);
  }
}

@keyframes tnmoves {
  0% {
    transform: translate3d(0, 0, 0) scale(1);
  }
  25% {
    transform: translate3d(-20px, -20px, 0) scale(1.25);
  }
  50% {
    transform: translate3d(+20px, -20px, 0) scale(1.5);
  }
  0% {
    transform: translate3d(0, 0, 0) scale(1);
  }
}

// Modal

.modal-close {
  position: absolute;
  right: -35px;
  top: -20px;

  .btn {
    background-color: transparent;
    border: none;
    padding: 0;
    &:hover {
      background-color: transparent;
      border: none;
    }
  }
}

.md-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  max-width: 800px;
  width: 800px;
  min-width: 320px;
  min-height: 640px;
  height: auto;
  z-index: 2000;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.md-show {
  visibility: visible;
}

.md-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  background: rgba(0, 0, 0, 0.9);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.md-show ~ .md-overlay {
  opacity: 1;
  visibility: visible;
}

.md-content {
  color: #fff;
  background: #f2f2f2;
  position: relative;
  border-radius: 3px;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  position: absolute;
}

.md-effect-1 .md-content {
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.md-show.md-effect-1 .md-content {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}